trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - app/*
      - terraform/*
      - kubernetes/*
      - azure-pipelines/*

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '09951599-b721-4b9d-9b38-80dc953feeb5'
  imageRepository: 'ivantidevopsassessment'
  containerRegistry: 'dockereistryforassessment-awbda8dgdnhgfvh4.azurecr.io'
  dockerfilePath: '/app/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: azureciagent
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
