apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: python-webapp-network-policy
spec:
  podSelector:
    matchLabels:
      app: python-webapp
  policyTypes:
    - Ingress
    - Egress
  ingress:
    # Allow traffic from ingress controller
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: ingress-nginx
      ports:
        - protocol: TCP
          port: 5000
    # Allow pod-to-pod within same namespace
    - from:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 5000
            
  egress:
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - protocol: TCP
          port: 443