apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: task-manager-network-policy
spec:
  podSelector:
    matchLabels:
      app: task-manager
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: ingress-nginx
      ports:
        - protocol: TCP
          port: 5000
    - from:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 5000
  egress:
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 443
        - protocol: TCP
          port: 53
        - protocol: UDP
          port: 53