apiVersion: v1
kind: Service
metadata:
  name: python-webapp-service
  labels:
    app: python-webapp
spec:
  type: ClusterIP
  selector:
    app: python-webapp
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
  sessionAffinity: None