apiVersion: v1
kind: Service
metadata:
  name: python-webapp-service
  labels:
    app: python-webapp
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: /health
spec:
  type: LoadBalancer
  selector:
    app: python-webapp
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
  sessionAffinity: None