parameters:
  - name: environment
    type: string
  - name: action
    type: string
    default: 'deploy'

jobs:
  - job: TerraformPlan
    displayName: 'Terraform Plan'
    pool:
      name: azureciagent
    steps:
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: '1.5.0'
      
      - task: AzureCLI@2
        displayName: 'Terraform Init and Plan'
        inputs:
          azureSubscription: 'azure-service-connection'
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          inlineScript: |
            cd terraform/environments/${{ parameters.environment }}
            
            # Initialize Terraform with backend config
            terraform init \
              -backend-config="resource_group_name=$(BACKEND_RESOURCE_GROUP)" \
              -backend-config="storage_account_name=$(BACKEND_STORAGE_ACCOUNT)" \
              -backend-config="container_name=$(BACKEND_CONTAINER)" \
              -backend-config="key=${{ parameters.environment }}.terraform.tfstate"
            
            # Run plan based on action
            if [ "${{ parameters.action }}" == "destroy" ]; then
              echo "Planning infrastructure destruction..."
              terraform plan -destroy -out=tfplan
            else
              echo "Planning infrastructure deployment..."
              terraform plan -out=tfplan
            fi
            
            # Show the plan
            terraform show tfplan
      
      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: 'terraform/environments/${{ parameters.environment }}'
          artifact: 'terraform-plan-${{ parameters.environment }}'
          publishLocation: 'pipeline'