trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - app/*
      - terraform/*
      - kubernetes/*
      - azure-pipelines/*

pr:
  branches:
    include:
      - main
      - develop

parameters:
  - name: action
    displayName: 'Action to perform'
    type: string
    default: 'deploy'
    values:
      - deploy
      - destroy
  - name: environment
    displayName: 'Environment'
    type: string
    default: 'dev'
    values:
      - dev
      - test
      - prod

variables:
  - template: variables/${{ parameters.environment }}.yml
  - name: dockerRegistryServiceConnection
    value: 'acr-service-connection'
  - name: imageRepository
    value: 'pyton-webapp'
  - name: dockerfilePath
    value: 'app/Dockerfile'
  - name: tag
    value: '$(Build.BuildId)'
  - name: tfCommand
    ${{ if eq(parameters.action, 'deploy') }}:
      value: 'apply'
    ${{ else }}:
      value: 'destroy'  


# STAGE 1: Docker Image Build and Push
stages:
- stage: Build
  displayName: 'Build and Push Docker'
  condition: eq('${{ parameters.action }}', 'deploy')
  jobs:
    - job: Build
      displayName: Build
      pool:
        name: azureciagent
      steps:
        - task: Docker@2
          inputs:
            containerRegistry: '$(dockerRegistryServiceConnection)'
            repository: '$(imageRepository)'
            command: 'buildAndPush'
            Dockerfile: '$(dockerfilePath)'
            tags: '$(tag)'


# STAGE 2: Terraform Validate
- stage: TerraformValidate
  displayName: 'Terraform Validate - ${{ parameters.environment }}'
  dependsOn: 
    - Build
  condition: or(eq('${{ parameters.action }}', 'deploy'), eq('${{ parameters.action }}', 'destroy'))
  jobs:
    - job: TerraformValidate
      displayName: 'Terraform Validate'
      pool:
        name: azureciagent
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: '1.14.3'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/${{ parameters.environment }}'
          backendAzureRmUseEntraIdForAuthentication: false
          backendServiceArm: '$(AZURE_SERVICE_CONNECTION)'
          backendAzureRmResourceGroupName: '$(BACKEND_RESOURCE_GROUP)'
          backendAzureRmStorageAccountName: '$(BACKEND_STORAGE_ACCOUNT)'
          backendAzureRmContainerName: '$(BACKEND_CONTAINER)'
          backendAzureRmKey: '${{ parameters.environment }}.terraform.tfstate'
      
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/${{ parameters.environment }}'


# STAGE 3: Terraform Plan
- stage: TerraformPlan
  displayName: 'Terraform Plan - ${{ parameters.environment }}'
  dependsOn: 
    - TerraformValidate
  condition: or(eq('${{ parameters.action }}', 'deploy'), eq('${{ parameters.action }}', 'destroy'))
  jobs: 
    - job: TerraformPlan
      displayName: 'Terraform Plan'
      pool:
        name: azureciagent
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: '1.14.3'
    
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/${{ parameters.environment }}'
          backendAzureRmUseEntraIdForAuthentication: false
          backendServiceArm: '$(AZURE_SERVICE_CONNECTION)'
          backendAzureRmResourceGroupName: '$(BACKEND_RESOURCE_GROUP)'
          backendAzureRmStorageAccountName: '$(BACKEND_STORAGE_ACCOUNT)'
          backendAzureRmContainerName: '$(BACKEND_CONTAINER)'
          backendAzureRmKey: '${{ parameters.environment }}.terraform.tfstate'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/${{ parameters.environment }}'
          environmentServiceNameAzureRM: '$(AZURE_SERVICE_CONNECTION)'
    

# STAGE 5: Terraform Apply or Destroy
- stage: TerraformApply
  displayName: 'Terraform ${{ parameters.action }} - ${{ parameters.environment }}'
  dependsOn: TerraformPlan
  condition: succeeded()
  jobs:
    - job: ApprovalGate
      displayName: 'Manual Approval'
      pool: server
      steps:
        - task: ManualValidation@0
          inputs:
            notifyUsers: 'sivaramk185@gmail.com'
            instructions: 'Please review Terraform plan and approve to ${{ parameters.action }} ${{ parameters.environment }} infrastructure'
            onTimeout: reject

    - job: TerraformApply
      displayName: 'Terraform Apply'
      dependsOn: ApprovalGate
      pool:
        name: azureciagent
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: '1.14.3'
    
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/${{ parameters.environment }}'
          backendAzureRmUseEntraIdForAuthentication: false
          backendServiceArm: '$(AZURE_SERVICE_CONNECTION)'
          backendAzureRmResourceGroupName: '$(BACKEND_RESOURCE_GROUP)'
          backendAzureRmStorageAccountName: '$(BACKEND_STORAGE_ACCOUNT)'
          backendAzureRmContainerName: '$(BACKEND_CONTAINER)'
          backendAzureRmKey: '${{ parameters.environment }}.terraform.tfstate'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: '$(tfCommand)'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/${{ parameters.environment }}'
          environmentServiceNameAzureRM: '$(AZURE_SERVICE_CONNECTION)'

      - task: AzureCLI@2
        displayName: 'Capture Terraform Outputs'
        inputs:
          azureSubscription: '$(AZURE_SERVICE_CONNECTION)'
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/${{ parameters.environment }}'
          inlineScript: |
            terraform output -json > $(System.DefaultWorkingDirectory)/outputs.json
            
            echo "Successfully generated outputs.json"
            cat $(System.DefaultWorkingDirectory)/outputs.json
        condition: and(succeeded(), eq('${{ parameters.action }}', 'deploy'))

      - task: PublishPipelineArtifact@1
        displayName: 'Publish TF Outputs'
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/outputs.json'
          artifact: 'terraform-outputs-${{ parameters.environment }}'
        condition: and(succeeded(), eq('${{ parameters.action }}', 'deploy'))
  
# STAGE 6: Deploy to Kubernetes (only for deploy action)
- stage: DeployK8s
  displayName: 'Deploy to Kubernetes - ${{ parameters.environment }}'
  dependsOn: TerraformApply
  condition: and(succeeded(), eq('${{ parameters.action }}', 'deploy'))
  jobs:
    - job: ApprovalGate
      displayName: 'Manual Approval'
      pool: server
      steps:
        - task: ManualValidation@0
          inputs:
            notifyUsers: 'sivaramk185@gmail.com'
            instructions: 'Approval required before deploying to K8s ${{ parameters.action }} ${{ parameters.environment }} cluster'
            onTimeout: reject

    - deployment: DeployApp
      displayName: 'Deploy Application'
      environment: '${{ parameters.environment }}'
      pool:
        name: azureciagent
      strategy:
        runOnce:
          deploy:
            steps:
              - template: templates/deploy-k8s.yml
                parameters:
                  environment: '${{ parameters.environment }}'
                  imageRepository: $(imageRepository)
                  tag: $(tag)